.play-video{
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.play-video .circle-play{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-video i{
    font-size: 50px;
}

.ticket-case h4{
    font-size: 40px;
    font-family: "Mitr", sans-serif;
    font-weight: bold;
}

.ticket-case h5{
    font-size: 20px;
    font-family: "Mitr", sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 3%;
}

.btn-buy-outline{
    background: transparent;
    padding: 18px 20px;
    margin-top: 30px;
    color: white;
    border: 2px solid white;
    font-size: 22px;
}

.btn-buy-outline:hover{
    background: white;
    color: #010f2f;
}
