@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&family=Mitr:wght@300;400;500;600&display=swap");

.body-bg {
    background: #0B0016
}

body {
    font-family: "Barlow", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mitr", sans-serif;
    color: #2A2A2A;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal
}

p {
    font-family: "Barlow", sans-serif;
    color: #545454;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

.clear {
    clear: both
}

.mb-5 {
    margin-bottom: 5px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.ml-15 {
    margin-left: 15px
}

.pt-50 {
    padding-top: 50px
}

.pb-40 {
    padding-bottom: 40px
}

.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

a,
.button {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none
}

a {
    color: #635c5c;
    text-decoration: none
}

a:hover {
    color: #fff
}

a:focus,
a:hover {
    text-decoration: none
}

a,
button {
    color: #fff;
    outline: medium none
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}

ul {
    margin: 0px;
    padding: 0px
}

li {
    list-style: none
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0
}

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
}

#back-top {
    background: #FFBD00;
    height: 40px;
    width: 40px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2)
}

@media (max-width: 575px) {
    #back-top {
        right: 16px
    }
}

#back-top a i {
    display: block;
    line-height: 50px
}

#back-top .wrapper {
    position: relative
}

#back-top .wrapper .arrows-container {
    position: absolute;
    text-align: center;
    bottom: -3px;
    margin: 0 auto;
    display: block;
    right: 7px
}

#back-top .wrapper .arrows-container .arrow {
    padding: 7px;
    box-shadow: 2px -2px #fff inset;
    transform: rotate(130deg);
    opacity: 0;
    position: absolute
}

#back-top .wrapper .arrows-container .arrow-one {
    animation: arrowMovement 3s ease-in-out infinite
}

#back-top .wrapper .arrows-container .arrow-two {
    animation: arrowMovement 3s 1s ease-in-out infinite
}

@keyframes arrowMovement {
    0% {
        top: 15px;
        opacity: 0
    }

    70% {
        opacity: 1
    }

    100% {
        top: 0px;
        opacity: 0
    }
}

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .1s ease-out 0s;
        -moz-transition: all .1s ease-out 0s;
        -ms-transition: all .1s ease-out 0s;
        -o-transition: all .1s ease-out 0s;
        transition: all .1s ease-out 0s
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all .1s ease-out 0s;
        -moz-transition: all .1s ease-out 0s;
        -ms-transition: all .1s ease-out 0s;
        -o-transition: all .1s ease-out 0s;
        transition: all .1s ease-out 0s
    }
}

@-webkit-keyframes heartbeat {
    to {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

.slick-initialized .slick-slide {
    outline: 0
}

.running {
    animation: nudge 10s linear infinite alternate
}

@keyframes nudge {

    0%,
    100% {
        transform: translate(0, 0)
    }

    50% {
        transform: translate(-100px, 0);

        @media (max-width: 575px) {
            transform: translate(-50px, 0) !important
        }
    }

    80% {
        transform: translate(100px, 0);

        @media (max-width: 575px) {
            transform: translate(50px, 0) !important
        }
    }
}

.nice-select {
    line-height: 30px;
    border: 1px solid #eaeaea;
    height: 50px;
    width: 100%;
    color: #071112;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 10px;
    border-radius: 25px
}

.nice-select::after {
    border-bottom: 2px solid #a3a3a3;
    border-right: 2px solid #a3a3a3;
    height: 7px;
    right: 41px;
    width: 7px
}

.nice-select .list {
    width: 100%;
    border-radius: 0
}

.nice-select.open .list {
    width: 100%;
    border-radius: 0
}

.nice-select .option {
    color: #071112
}

.nice-select::placeholder {
    color: #5E5E5E;
    font-size: 16px;
    font-weight: 400
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

.top-padding {
    padding-top: 100px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-padding {
        padding-top: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .top-padding {
        padding-top: 70px
    }
}

@media (max-width: 575px) {
    .top-padding {
        padding-top: 70px
    }
}

.bottom-padding {
    padding-bottom: 120px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .bottom-padding {
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .bottom-padding {
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .bottom-padding {
        padding-bottom: 70px
    }
}

.footer-padding {
    padding-top: 99px;
    padding-bottom: 0
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 20px
    }
}

@media (max-width: 575px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 0px
    }
}

.section-tittle {
    position: relative
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

@media (max-width: 575px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

.section-tittle p {
    color: #9B9EAC;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle p br {
        display: none
    }
}

@media (max-width: 575px) {
    .section-tittle p br {
        display: none
    }
}

.section-tittle p a {
    text-decoration: underline
}

.section-tittle>span {
    color: #FFBD00;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.3em;
    transform: rotate(-90deg);
    position: absolute;
    left: -36px;
    top: 35px
}

@media (max-width: 575px) {
    .section-tittle>span {
        font-size: 14px;
        padding-left: 0px
    }
}

.section-tittle h2 {
    color: #fff;
    font-family: "Mitr", sans-serif;
    font-size: 50px;
    display: block;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 12px;
    text-transform: uppercase
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .section-tittle h2 {
        font-size: 40px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-tittle h2 {
        font-size: 30px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-tittle h2 {
        font-size: 30px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle h2 {
        font-size: 31px
    }
}

@media (max-width: 575px) {
    .section-tittle h2 {
        font-size: 24px
    }
}

.section-tittle h2>span {
    color: #FFBD00;
    display: block
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-tittle h2 br {
        display: none
    }
}

@media (max-width: 575px) {
    .section-tittle h2 br {
        display: none
    }
}

.btn {
    background: #FFBD00;
    font-family: "Mitr", sans-serif;
    text-transform: inherit !important;
    padding: 22px 32px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 18px !important;
    font-weight: 400 !important;
    border-radius: 0px;
    line-height: 1;
    line-height: 0;
    cursor: pointer;
    -moz-user-select: none;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: 102%;
    background: #ec583a;
    z-index: 1;
    border-radius: 0px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px
}

.btn i {
    padding-right: 11px
}

.btn:hover {
    color: #fff !important
}

.btn:hover::before {
    transform: scaleX(1);
    z-index: -1
}

.header-btn {
    color: #fff;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 0 3px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-btn {
        color: #FF60CE;
        margin-right: 10px;
        font-size: 14px
    }
}

@media (max-width: 575px) {
    .header-btn {
        color: #FF60CE;
        margin-right: 10px;
        font-size: 14px
    }
}

.header-btn i {
    padding-right: 6px;
    transform: rotate(0deg);
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    font-weight: 600
}

.header-btn:hover {
    color: #FF60CE
}

.header-btn:hover i {
    transform: rotate(15deg)
}

.submit-btn {
    width: 100%;
    background: #FFBD00;
    font-family: "Mitr", sans-serif;
    text-transform: inherit !important;
    padding: 25px 43px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 35px;
    line-height: 1;
    line-height: 0;
    cursor: pointer;
    -moz-user-select: none;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden
}

.submit-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #2A2A2A;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px
}

.submit-btn:hover {
    color: #fff !important
}

.submit-btn:hover::before {
    transform: scaleX(1);
    z-index: -1
}

.submit-btn i {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.btn_1 {
    background: #ffffff;
    border: 1px solid #2A2A2A;
    color: #042c77 !important;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding: 22px 41px;
    text-transform: uppercase;
    line-height: 15px;
    border-radius: 0px
}

.btn_1 img {
    display: inline-block;
    margin-left: 8px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.btn_1 i {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    color: #0A0A0A;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    left: 7px;
    top: 2px
}

.btn_1:hover {
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF !important
}

.btn_1:hover img {
    margin-left: 9px
}

.btn_1:hover i {
    left: 10px;
    color: #FFFFFF
}

.btn_01 {
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 32px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    background: none;
    border-radius: 0px
}

.btn_01 i {
    color: #FFFFFF;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    left: 7px;
    top: 2px
}

.btn_01:hover {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #fff !important
}

.btn_01:hover i {
    color: #fff
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.boxed-btn {
    background: #fff;
    color: #FF60CE !important;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Mitr", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #FF60CE;
    letter-spacing: 1px;
    text-align: center;
    color: #FF60CE;
    text-transform: uppercase;
    cursor: pointer
}

.boxed-btn:hover {
    background: #FF60CE;
    color: #fff !important;
    border: 1px solid #FF60CE
}

.boxed-btn:focus {
    outline: none
}

.boxed-btn2 {
    padding: 4px 20px !important
}

.main-header {
    padding: 0px 210px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main-header {
        padding: 0px 50px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header {
        padding: 0px 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header {
        padding: 15px 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .main-header {
        padding: 15px 20px
    }
}

@media (max-width: 575px) {
    .main-header {
        padding: 15px 0px
    }
}

.main-header .main-menu ul>li {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0px 14px
}

.main-header .main-menu ul>li:last-child {
    margin: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header .main-menu ul>li {
        margin: 0px 12px
    }
}

.main-header .main-menu ul>li a {
    font-family: "Barlow", sans-serif;
    color: #fff;
    font-weight: 600;
    padding: 31px 7px;
    display: block;
    font-size: 16px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-transform: uppercase;
    position: relative
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header .main-menu ul>li a {
        font-size: 18px
    }
}

.main-header .main-menu ul>li:hover>a {
    color: #FF60CE
}

.main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #fff;
    left: 0;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.main-header .main-menu ul ul.submenu>li {
    margin-left: 7px;
    display: block
}

.main-header .main-menu ul ul.submenu>li:last-child {
    margin: 0px 8px
}

.main-header .main-menu ul ul.submenu>li>a {
    padding: 6px 10px !important;
    font-size: 16px;
    color: #1D2547;
    font-weight: 700;
    text-transform: capitalize
}

.main-header .main-menu ul ul.submenu>li>a::after {
    position: unset
}

.main-header .main-menu ul ul.submenu>li>a:hover {
    color: #FF60CE;
    background: none
}

.main-header .main-menu ul>li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%
}

.main-header .logo {
    float: left
}

.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9
}

.header-area .header-sticky.sticky-bar {
    background: #0a0a0a
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-sticky.sticky-bar {
        padding: 15px 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-sticky.sticky-bar {
        padding: 15px 20px
    }
}

@media (max-width: 575px) {
    .header-area .header-sticky.sticky-bar {
        padding: 15px 0px
    }
}

.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99
}

.header-btn {
    border: 1px solid transparent;
    font-family: "Barlow", sans-serif;
    background: #FFBD00;
    padding: 13px 33px 13px 34px !important;
    text-transform: uppercase !important;
    cursor: pointer;
    color: #0B0016 !important;
    display: inline-block !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    border-radius: 0px
}

.header-btn i {
    padding-left: 10px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    font-weight: 600
}

.header-btn:hover {
    border: 1px solid #FFBD00;
    background: none;
    color: #FFBD00 !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-btn:hover {
        background: #FFBD00 !important
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-btn:hover {
        background: #FFBD00 !important
    }
}

@media (max-width: 575px) {
    .header-btn:hover {
        background: #FFBD00 !important
    }
}

.header-btn:hover i {
    color: #FFBD00 !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-right-btn {
        float: left;
        margin-left: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-right-btn {
        float: left;
        margin-left: 0
    }
}

@media (max-width: 575px) {
    .header-right-btn {
        float: left;
        margin-left: 0
    }
}

#navigation {
    display: flex;
    align-items: center
}

.slider-height {
    height: 950px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-height {
        height: 700px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-height {
        height: 700px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-height {
        height: 600px
    }
}

@media (max-width: 575px) {
    .slider-height {
        height: 540px
    }
}

.slider-height2 {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-height2 {
        height: 400px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-height2 {
        height: 300px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-height2 {
        height: 300px
    }
}

@media (max-width: 575px) {
    .slider-height2 {
        height: 250px
    }
}

.slider-bg1 {
    background-image: url(https://preview.colorlib.com/theme/eventotemplate/assets/img/hero/h1_hero1.jpg)
}

.slider-bg2 {
    background-image: url(https://preview.colorlib.com/theme/eventotemplate/assets/img/hero/h2_hero1.jpg)
}

.slider-area {
    background-color: #F2F4F8
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero-caption {
        margin-top: -50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero-caption {
        margin-top: -50px
    }
}

@media (max-width: 575px) {
    .slider-area .hero-caption {
        margin-top: -150px
    }
}

.slider-area .hero-caption h1 {
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 64px;
    color: #fff;
    line-height: 1;
    text-transform: uppercase
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero-caption h1 {
        font-size: 76px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero-caption h1 {
        font-size: 70px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero-caption h1 {
        font-size: 58px
    }
}

@media (max-width: 575px) {
    .slider-area .hero-caption h1 {
        font-size: 35px;
        margin-bottom: 40px
    }
}

.slider-area .hero-caption h1 span {
    color: #FFBD00;
    display: block
}

.slider-area .hero-caption p {
    color: #fff;
    margin-bottom: 41px;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero-caption p br {
        display: none
    }
}

@media (max-width: 575px) {
    .slider-area .hero-caption p br {
        display: none
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero-caption p {
        margin-bottom: 43px;
        font-size: 21px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero-caption p {
        margin-bottom: 43px;
        font-size: 18px
    }
}

@media (max-width: 575px) {
    .slider-area .hero-caption p {
        margin-bottom: 43px;
        font-size: 18px
    }
}

.slider-area .hero-caption .video-icon {
    padding-left: 31px
}

.slider-area .hero-caption .video-icon a {
    background: #fff;
    width: 54px;
    height: 54px;
    display: inline-block;
    text-align: center;
    line-height: 54px;
    border-radius: 50%
}

.slider-area .hero-caption .video-icon a::after {
    position: absolute;
    border: 59px solid rgba(255, 255, 255, 0.06);
    content: "";
    border-radius: 50%;
    left: -31px;
    top: -31px;
    right: 0;
    z-index: 0
}

@media (max-width: 575px) {
    .slider-area .hero-caption .video-icon a {
        width: 60px;
        height: 60px;
        line-height: 60px
    }
}

.slider-area .hero-caption .video-icon a i {
    font-size: 19px;
    line-height: 1;
    position: relative;
    right: -2px;
    top: 0px;
    color: #FF60CE
}

.slider-area .hero-caption .video-icon a:hover {
    background: #FFBD00
}

.slider-area .hero-caption .video-icon a:hover i {
    color: #fff
}

.slider-area .hero-caption .video-icon a.btn-icon {
    position: relative
}

.slider-area .hero-caption .video-icon a.btn-icon::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: inherit;
    border: 1px solid #FF60CE;
    -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
    animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite
}

.slider-area .hero-caption.hero-caption2 {
    padding-top: 0px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero-caption.hero-caption2 {
        padding-top: 50px;
        margin-top: 0px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero-caption.hero-caption2 {
        padding-top: 50px;
        margin-top: 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero-caption.hero-caption2 {
        padding-top: 50px;
        margin-top: 0px
    }
}

@media (max-width: 575px) {
    .slider-area .hero-caption.hero-caption2 {
        padding-top: 50px;
        margin-top: 0px
    }
}

.slider-area .hero-caption.hero-caption2 h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 70px;
    display: block;
    font-weight: 700;
    line-height: 1.4
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero-caption.hero-caption2 h2 {
        font-size: 50px
    }
}

@media (max-width: 575px) {
    .slider-area .hero-caption.hero-caption2 h2 {
        font-size: 40px
    }
}

.slider-area .hero-caption.hero-caption2 p {
    margin-bottom: 0px;
    color: #fff;
    font-size: 18px;
    line-height: 1.6
}

@media (max-width: 575px) {
    .slider-area .hero-caption.hero-caption2 p {
        font-size: 18px
    }
}

.slider-area .hero-footer {
    position: absolute;
    bottom: -141px;
    right: 50px;
    text-align: right
}

@media (max-width: 575px) {
    .slider-area .hero-footer {
        bottom: -200px
    }
}

.slider-area .hero-footer h4 {
    color: #FF60CE;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px
}

.slider-area .hero-footer p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase
}

.hero-overly {
    position: relative;
    z-index: 0
}

.hero-overly::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area .about-caption {
        padding-bottom: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area .about-caption {
        padding-bottom: 50px
    }
}

@media (max-width: 575px) {
    .about-area .about-caption {
        margin-bottom: 35px
    }
}

.about-area .about-img img {
    width: 100%
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area .about-img img {
        margin-bottom: 35px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area .about-img img {
        margin-bottom: 35px
    }
}

@media (max-width: 575px) {
    .about-area .about-img img {
        margin-bottom: 35px
    }
}

.team-area .team-active .single-team {
    margin: 0 12px
}

.team-area .single-team .team-img {
    overflow: hidden;
    margin-bottom: 19px;
    position: relative
}

.team-area .single-team .team-img img {
    width: 100%;
    transform: scale(1);
    transition: all 0.6s ease-out 0s
}

.team-area .single-team .team-caption h3 {
    margin-bottom: 3px
}

.team-area .single-team .team-caption h3 a {
    color: #FFBD00;
    font-weight: 600;
    font-size: 24px
}

.team-area .single-team .team-caption h3 a:hover {
    color: #FF60CE
}

.team-area .single-team .team-caption p {
    color: #ffff;
    font-size: 20px
}

.team-area .single-team .team-caption p span {
    color: #9B9EAC;
    font-size: 20px
}

.team-area .single-team:hover .team-img img {
    transform: scale(1.1)
}

.team-area .single-team:hover .team-img .team-social a {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible
}

.team-social {
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    text-align: center
}

.team-social li {
    display: inline-block
}

.team-social li a {
    color: #fff;
    background: #FF60CE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin-left: 8px;
    display: inline-block;
    -webkit-transform: .4s;
    -ms-transform: .4s;
    transform: .4s;
    transform: translateY(60px);
    opacity: 0;
    visibility: hidden
}

.team-social li a i {
    display: inline-block
}

.team-social li a:hover {
    color: #fff;
    background: #FFBD00
}

.team-social li:nth-child(1) a {
    transition-delay: 0.0s
}

.team-social li:nth-child(2) a {
    transition-delay: 0.1s
}

.team-social li:nth-child(3) a {
    transition-delay: 0.3s
}

.team-active button.slick-arrow {
    position: absolute;
    border: 0;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px
}

.team-active button.slick-arrow i {
    font-size: 22px;
    color: rgba(255, 128, 216, 0.3);
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

.team-active button.slick-arrow:hover {
    color: #FF60CE
}

.team-active button.slick-arrow:hover i {
    color: #FF60CE
}

.team-active button.slick-prev {
    left: -40px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .team-active button.slick-prev {
        left: -20px
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .team-active button.slick-prev {
        left: -30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .team-active button.slick-prev {
        left: -20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .team-active button.slick-prev {
        left: -20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .team-active button.slick-prev {
        left: -10px
    }
}

.team-active button.slick-next {
    right: -40px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .team-active button.slick-next {
        right: -20px
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .team-active button.slick-next {
        right: -30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .team-active button.slick-next {
        right: -20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .team-active button.slick-next {
        right: -20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .team-active button.slick-next {
        right: -10px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .count-down-area {
        padding-bottom: 60px;
        padding-top: 60px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .count-down-area {
        adding-bottom: 0;
        padding-top: 60px
    }
}

@media (max-width: 575px) {
    .count-down-area {
        padding-bottom: 0;
        padding-top: 50px
    }
}

.count-down-area .count-down-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.count-down-area .count-down-wrapper .single-counter {
    margin-bottom: 10px
}

.count-down-area .count-down-wrapper .single-counter .counter {
    font-family: "Barlow", sans-serif;
    color: #FF60CE;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 12px;
    display: inline-block;
    text-transform: uppercase
}

@media (max-width: 575px) {
    .count-down-area .count-down-wrapper .single-counter .counter {
        font-size: 40px
    }
}

.count-down-area .count-down-wrapper .single-counter p {
    font-family: "Barlow", sans-serif;
    color: #FF60CE;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 12px;
    display: inline-block
}

.count-down-area .count-down-wrapper .pera-count h5 {
    color: #131933;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 11px;
    font-family: "Barlow", sans-serif
}

.count-down-area .count-down-wrapper .pera-count p {
    font-family: "Mitr", sans-serif;
    color: #9B9EAC;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    display: inline-block
}

.nav-button {
    padding: 40px 30px;
    background: #0e0e0e
}

.nav-button .nav-tabs {
    margin-bottom: 20px;
    padding-bottom: 0px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: center
}

.nav-button .nav-tabs .nav-item {
    display: block
}

@media (max-width: 575px) {
    .nav-button .nav-tabs .nav-item {
        font-size: 18px
    }
}

.nav-button .nav-tabs .nav-link {
    font-family: "Mitr", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    padding: 17px 5px;
    padding-top: 0;
    border-bottom: 4px solid transparent;
    margin-right: 43px
}

@media (max-width: 575px) {
    .nav-button .nav-tabs .nav-link {
        border-bottom: 0
    }
}

.nav-button .nav-tabs .nav-link.active {
    color: #FFBD00;
    border-bottom: 4px solid #FFBD00;
    background: none
}

@media (max-width: 575px) {
    .nav-button .nav-tabs .nav-link.active {
        border-bottom: 0
    }
}

.nav-button .nav-tabs .nav-link:hover {
    border-bottom: 4px solid #FFBD00
}

@media (max-width: 575px) {
    .nav-button .nav-tabs .nav-link:hover {
        border-bottom: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .nav-button .nav-tabs .nav-link {
        margin-right: 23px
    }
}

@media (max-width: 575px) {
    .nav-button .nav-tabs .nav-link {
        margin-right: 23px
    }
}

.shedule-wrapper {
    padding: 30px 30px;
    background: #0e0e0e
}

.shedule-wrapper .shedule-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2)
}

@media (max-width: 575px) {
    .shedule-wrapper .shedule-items {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.shedule-wrapper .shedule-items .shedule-left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center
}

.shedule-wrapper .shedule-items .shedule-left .job-tittle a h4 {
    color: #ffff;
    font-family: "Barlow", sans-serif;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600
}

@media (max-width: 575px) {
    .shedule-wrapper .shedule-items .shedule-left .job-tittle a h4 {
        font-size: 16px
    }
}

.shedule-wrapper .shedule-items .shedule-left .job-tittle a h4:hover {
    color: heading-color
}

.shedule-wrapper .shedule-items .shedule-left .job-tittle p {
    margin-bottom: 0;
    color: #9B9EAC;
    font-size: 20px;
    font-weight: 300
}

.shedule-wrapper .shedule-items .shedule-left .job-tittle ul li {
    display: inline-block;
    margin-right: 48px;
    font-size: 15px;
    color: #ffff;
    line-height: 1.8
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .shedule-wrapper .shedule-items .shedule-left .job-tittle ul li {
        margin-right: 18px
    }
}

@media (max-width: 575px) {
    .shedule-wrapper .shedule-items .shedule-left .job-tittle ul li {
        margin-right: 0px;
        margin-bottom: 7px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .shedule-wrapper .shedule-items .shedule-left .job-tittle ul li {
        margin-right: 8px
    }
}

.shedule-wrapper .shedule-items .shedule-left .job-tittle ul li:last-child {
    margin-right: 0px
}

.shedule-wrapper .shedule-items .shedule-left .job-tittle ul li i {
    font-size: 18px;
    color: #FF60CE;
    margin-right: 10px
}

.shedule-wrapper .shedule-items .price span {
    font-family: "Barlow", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 24px
}

@media (max-width: 575px) {
    .shedule-wrapper .shedule-items .price span {
        font-size: 16px
    }
}

.footer-area .footer-pera p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 22px;
    line-height: 1.8
}

.footer-area .footer-tittle h4 {
    font-family: "Barlow", sans-serif;
    color: #ffff;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600
}

.footer-area .footer-tittle ul li {
    margin-bottom: 6px
}

.footer-area .footer-tittle ul li a {
    color: #9B9EAC;
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline transparent
}

.footer-area .footer-tittle ul li a:hover {
    text-decoration: underline;
    color: #fff;
    padding-left: 2px
}

.footer-area .footer-tittle p {
    color: #9B9EAC;
    font-weight: 300
}

.footer-area .footer-form {
    margin-top: 10px
}

.footer-area .footer-form form {
    position: relative
}

.footer-area .footer-form form input {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 52px;
    padding: 10px 10px;
    background: none;
    color: #ffff;
    border-radius: 0px;
    text-align: left
}

.footer-area .footer-form form input:placeholder {
    color: #fff
}

.footer-area .footer-form form .form-icon button {
    background: #FFBD00;
    color: #2A2A2A;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    padding: 17px 36px;
    line-height: 1;
    display: block;
    margin-top: 10px;
    border-radius: 0px
}

.footer-area .info.error {
    color: #FF60CE
}

.footer-bottom-area .footer-border {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 23px;
    padding-bottom: 10px
}

.footer-bottom-area .footer-copy-right p {
    color: #9B9EAC;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 12px
}

.footer-bottom-area .footer-copy-right p i {
    color: #FFBD00
}

.footer-bottom-area .footer-copy-right p a {
    color: #FFBD00
}

ul.footer-social li {
    display: inline-block
}

ul.footer-social li a {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin-right: 8px
}

ul.footer-social li a i {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg)
}

ul.footer-social li a:hover {
    color: #ffff
}

ul.footer-social li a:hover i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

ul.footer-social li a i {
    display: inline-block
}

ul.footer-social li .fb {
    background: #3B5998
}

ul.footer-social li .yt {
    background: #FF0000
}

ul.footer-social li .lnk {
    background: #0077B5
}

ul.footer-social li .ins {
    background: #405DE6
}

.number a {
    font-family: "Barlow", sans-serif;
    font-size: 26px !important;
    color: #FFBD00 !important;
    margin-bottom: 10px;
    font-weight: 400 !important;
    display: block
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .number a {
        font-size: 19px !important
    }
}

.home-blog .single-blogs .blog-img {
    margin-bottom: 25px;
    width: 100%;
    overflow: hidden
}

.home-blog .single-blogs .blog-img img {
    display: inherit;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    width: 100%;
    transform: scale(1)
}

.home-blog .single-blogs .blogs-cap span {
    color: #74706B;
    margin-bottom: 11px;
    display: block
}

.home-blog .single-blogs .blogs-cap h5 a {
    font-family: "Barlow", sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 12px;
    font-weight: 600;
    display: block;
    text-transform: uppercase
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-blog .single-blogs .blogs-cap h5 a {
        font-size: 20px
    }
}

.home-blog .single-blogs .blogs-cap h5 a:hover {
    color: #FFBD00
}

.home-blog .single-blogs .blogs-cap p {
    color: #9B9EAC;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px
}

.home-blog .single-blogs:hover .blog-img img {
    transform: scale(1.05)
}

.home-blog .single-blogs:hover .blogs-cap h5 a {
    color: #FFBD00
}

.brand-area {
    position: relative
}

.brand-area::before {
    position: absolute;
    content: "";
    background-image: url(https://preview.colorlib.com/theme/eventotemplate/assets/img/gallery/shape.png);
    width: 100%;
    height: 235px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1
}

.brand-area .wrapper-brand {
    padding: 45px 50px;
    background: #0e0e0e
}

.contact-map {
    height: 500px;
    width: 100%
}

.blog_area a {
    color: #FF60CE !important;
    text-decoration: none;
    transition: .4s
}

.blog_area a:hover,
.blog_area a :hover {
    background: -webkit-linear-gradient(131deg, #FF60CE 0%, #FF60CE 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: .4s
}

.blog_item {
    margin-bottom: 50px
}

.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3)
}

@media (min-width: 768px) {
    .blog_details {
        padding: 60px 30px 35px 35px
    }
}

.blog_details p {
    color: #fff;
    margin-bottom: 30px
}

.blog_details a {
    color: #080808
}

.blog_details a:hover {
    color: #FFBD00
}

.blog_details h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px
}

@media (min-width: 768px) {
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px
    }
}

.blog-info-link li {
    float: left;
    font-size: 14px
}

.blog-info-link li a {
    color: #fff
}

.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px
}

.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px
}

.blog-info-link li:last-child::after {
    display: none
}

.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table
}

.blog_item_img {
    position: relative
}

.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #FF60CE;
    padding: 8px 15px;
    border-radius: 5px
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px
    }
}

.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date h3 {
        font-size: 30px
    }
}

.blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff
}

@media (min-width: 768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px
    }
}

.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px
}

.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff
}

.blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px
}

.blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0px
}

.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0
}

.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999999
}

.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .search_widget .input-group button {
    background: #FF60CE;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 12px 15px;
    border-left: 0;
    cursor: pointer
}

.blog_right_sidebar .search_widget .input-group button i {
    color: #fff
}

.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999999
}

.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0
}

.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0
}

.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #fff
}

.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px
}

.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px
}

.blog_right_sidebar .post_category_widget .cat-list li+li {
    padding-top: 15px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear
}

.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #fff
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px
}

.blog_right_sidebar .popular_post_widget .post_item+.post_item {
    margin-top: 20px
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #FF60CE;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.blog_right_sidebar .instagram_feeds .instagram_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-right: -6px;
    margin-left: -6px
}

.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px
}

.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0px
}

.blog-pagination {
    margin-top: 80px
}

.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px
}

.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px
}

.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888
}

.blog-pagination .page-item:last-child .page-link {
    margin-right: 0
}

.single-post-area .blog_details {
    box-shadow: none;
    padding: 0
}

.single-post-area .blog_details {
    padding-top: 26px
}

.single-post-area .blog_details p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 15px
}

.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, 0.1);
    padding: 15px;
    line-height: 1.733;
    color: #888888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    .single-post-area .quote-wrapper {
        padding: 30px
    }
}

.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid
}

@media (min-width: 768px) {
    .single-post-area .quotes {
        padding: 25px 25px 25px 30px
    }
}

.single-post-area .arrow {
    position: absolute
}

.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600
}

.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff
}

.single-post-area .navigation-top p {
    margin-bottom: 0
}

.single-post-area .navigation-top .like-info {
    color: #fff;
    font-size: 14px
}

.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px
}

.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px
}

.single-post-area .navigation-top .social-icons li:last-child {
    margin: 0
}

.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
    font-size: 14px;
    color: #fff
}

.single-post-area .detials p {
    color: #fff
}

.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px
}

@media (max-width: 600px) {
    .single-post-area .blog-author {
        padding: 20px 8px
    }
}

.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px
}

@media (max-width: 600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px
    }
}

.single-post-area .blog-author a {
    display: inline-block
}

.single-post-area .blog-author a:hover {
    color: #FFBD00
}

.single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px
}

.single-post-area .blog-author h4 {
    font-size: 16px
}

.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px
}

.single-post-area .navigation-area p {
    margin-bottom: 0px
}

.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px
}

.single-post-area .navigation-area .nav-left {
    text-align: left
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: .5
}

@media (max-width: 767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px
    }
}

.single-post-area .navigation-area .nav-right {
    text-align: right
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: .5
}

.comments-area {
    background: transparent;
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px
}

@media (max-width: 414px) {
    .comments-area {
        padding: 50px 8px
    }
}

.comments-area h4 {
    color: #fff;
    margin-bottom: 35px;
    font-size: 18px
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px
}

.comments-area .comment-list {
    padding-bottom: 48px
}

.comments-area .comment-list:last-child {
    padding-bottom: 0px
}

@media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px
    }

    .comments-area .comment-list .single-comment .date {
        font-size: 11px
    }

    .comments-area .comment-list .single-comment .comment {
        font-size: 10px
    }
}

.comments-area .thumb {
    margin-right: 20px
}

.comments-area .thumb img {
    width: 70px;
    border-radius: 50%
}

.comments-area .date {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    margin-left: 20px
}

.comments-area .comment {
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px
}

.comments-area .btn-reply {
    background-color: transparent;
    color: #888888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400
}

.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px
}

.comment-form .form-group {
    margin-bottom: 30px
}

.comment-form h4 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px
}

.comment-form .name {
    padding-left: 0px
}

@media (max-width: 767px) {
    .comment-form .name {
        padding-right: 0px;
        margin-bottom: 1rem
    }
}

.comment-form .email {
    padding-right: 0px
}

@media (max-width: 991px) {
    .comment-form .email {
        padding-left: 0px
    }
}

.comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent
}

.comment-form .form-control:focus {
    outline: 0;
    box-shadow: none
}

.comment-form .form-control::placeholder {
    font-weight: 300;
    color: #999999
}

.comment-form .form-control::placeholder {
    color: #777777
}

.comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100% !important
}

.comment-form ::-webkit-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form ::-moz-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-ms-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-moz-placeholder {
    font-size: 13px;
    color: #777
}

.media {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.img-fluid {
    width: 100%
}

.form-group {
    margin-bottom: 1rem
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.contact-info {
    margin-bottom: 25px
}

.contact-info__icon {
    margin-right: 20px
}

.contact-info__icon i,
.contact-info__icon span {
    color: #8f9195;
    font-size: 27px
}

.contact-info .media-body h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    font-size: 16px
}

.contact-info .media-body h3 a:hover {
    color: #FFBD00
}

.contact-info .media-body p {
    color: #fff
}

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff
}

.contact-info__icon i,
.contact-info__icon span {
    color: #fff !important;
    font-size: 27px
}

.form-contact label {
    font-size: 14px
}

.form-contact .form-group {
    margin-bottom: 30px
}

.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent
}

.form-contact .form-control:focus {
    outline: 0;
    box-shadow: none
}

.form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999999
}

.form-contact textarea {
    border-radius: 0px;
    height: 100% !important
}

.contact-section {
    padding: 130px 0 100px;
    padding-bottom: 0
}

@media (max-width: 991px) {
    .contact-section {
        padding: 70px 0 40px;
        padding-bottom: 0
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .contact-section {
        padding: 80px 0 50px;
        padding-bottom: 0
    }
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #4A3600;
    opacity: 0.6
}

.hero-overly::before {
    background: -moz-linear-gradient(top, rgba(11, 0, 21, 0.7) 0%, rgba(10, 0, 23, 0.48) 25%, rgba(12, 0, 21, 0.42) 32%, rgba(10, 0, 23, 0.38) 36%, rgba(13, 0, 22, 0.32) 43%, rgba(9, 0, 22, 0.31) 44%, rgba(10, 0, 20, 0.29) 46%, rgba(12, 0, 24, 0.26) 50%, rgba(12, 0, 24, 0.25) 51%, rgba(10, 0, 24, 0.3) 54%, rgba(12, 0, 21, 0.33) 56%, rgba(10, 0, 23, 0.39) 60%, rgba(12, 0, 21, 0.42) 62%, rgba(10, 0, 23, 0.48) 66%, rgba(12, 0, 21, 0.51) 68%, rgba(10, 0, 23, 0.57) 72%, rgba(12, 0, 21, 0.6) 74%, #0b0016 100%);
    background: -webkit-linear-gradient(top, rgba(11, 0, 21, 0.7) 0%, rgba(10, 0, 23, 0.48) 25%, rgba(12, 0, 21, 0.42) 32%, rgba(10, 0, 23, 0.38) 36%, rgba(13, 0, 22, 0.32) 43%, rgba(9, 0, 22, 0.31) 44%, rgba(10, 0, 20, 0.29) 46%, rgba(12, 0, 24, 0.26) 50%, rgba(12, 0, 24, 0.25) 51%, rgba(10, 0, 24, 0.3) 54%, rgba(12, 0, 21, 0.33) 56%, rgba(10, 0, 23, 0.39) 60%, rgba(12, 0, 21, 0.42) 62%, rgba(10, 0, 23, 0.48) 66%, rgba(12, 0, 21, 0.51) 68%, rgba(10, 0, 23, 0.57) 72%, rgba(12, 0, 21, 0.6) 74%, #0b0016 100%);
    background: linear-gradient(to bottom, rgba(11, 0, 21, 0.7) 0%, rgba(10, 0, 23, 0.48) 25%, rgba(12, 0, 21, 0.42) 32%, rgba(10, 0, 23, 0.38) 36%, rgba(13, 0, 22, 0.32) 43%, rgba(9, 0, 22, 0.31) 44%, rgba(10, 0, 20, 0.29) 46%, rgba(12, 0, 24, 0.26) 50%, rgba(12, 0, 24, 0.25) 51%, rgba(10, 0, 24, 0.3) 54%, rgba(12, 0, 21, 0.33) 56%, rgba(10, 0, 23, 0.39) 60%, rgba(12, 0, 21, 0.42) 62%, rgba(10, 0, 23, 0.48) 66%, rgba(12, 0, 21, 0.51) 68%, rgba(10, 0, 23, 0.57) 72%, rgba(12, 0, 21, 0.6) 74%, #0b0016 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b30b0015', endColorstr='#0b0016', GradientType=0)
}

.sample-text-area {
    padding: 60px 0 70px 0
}

.sample-text-area p {
    color: #fff
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px;
    color: #fff
}

b,
sup,
sub,
u,
del {
    color: #FFBD00
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #828bb2
}

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee
}

.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px
}

.button-group-area .genric-btn:last-child {
    margin-right: 0
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.genric-btn:focus {
    outline: none
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px
}

.genric-btn.large {
    line-height: 45px
}

.genric-btn.medium {
    line-height: 30px
}

.genric-btn.small {
    line-height: 25px
}

.genric-btn.radius {
    border-radius: 3px
}

.genric-btn.circle {
    border-radius: 20px
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.genric-btn.arrow span {
    margin-left: 10px
}

.genric-btn.default {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.primary {
    color: #fff;
    background: #FFBD00;
    border: 1px solid transparent
}

.genric-btn.primary:hover {
    color: #FFBD00;
    border: 1px solid #FFBD00;
    background: #fff
}

.genric-btn.primary-border {
    color: #FFBD00;
    border: 1px solid #FFBD00;
    background: #fff
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: #FFBD00;
    border: 1px solid transparent
}

.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.link {
    color: #415094;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent
}

.genric-btn.link:hover {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.link-border {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline
}

.genric-btn.link-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.disable {
    color: #222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #FFBD00
}

.progress-table-wrap {
    overflow-x: scroll
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px
}

.progress-table .country {
    width: 28.07%
}

.progress-table .visit {
    width: 19.74%
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px
}

.progress-table .table-head {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
    color: #415094;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500
}

.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center
}

.progress-table .table-row .country img {
    margin-right: 15px
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0px;
    background: transparent
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px
}

.unordered-list li {
    color: #fff;
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important
}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #FFBD00;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%
}

.ordered-list {
    margin-left: 30px
}

.ordered-list li {
    color: #FF60CE;
    list-style-type: decimal-leading-zero;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list li span {
    font-weight: 300;
    color: #fff
}

.ordered-list-alpha li {
    color: #fff;
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #FFBD00;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list-alpha li span {
    font-weight: 300
}

.ordered-list-roman li {
    color: #fff;
    margin-left: 30px;
    list-style-type: lower-roman;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list-roman li span {
    font-weight: 300
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input:focus {
    outline: none
}

.input-group-icon {
    position: relative
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3
}

.input-group-icon .icon i {
    color: #797979
}

.input-group-icon .single-input {
    padding-left: 45px
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none
}

.single-textarea:focus {
    outline: none
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #FFBD00
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359
}

.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.default-switch input+label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFBD00;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.default-switch input:checked+label {
    left: 19px
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.primary-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.primary-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.primary-switch input:checked+label:after {
    left: 19px
}

.primary-switch input:checked+label:before {
    background: #FFBD00
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.confirm-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer
}

.confirm-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.confirm-switch input:checked+label:after {
    left: 19px
}

.confirm-switch input:checked+label:before {
    background: #4cd3e3
}

.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-checkbox input:checked+label {
    background: url(../img/elements/primary-check.png) no-repeat center center/cover;
    border: none
}

.confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked+label {
    background: url(../img/elements/success-check.png) no-repeat center center/cover;
    border: none
}

.disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-checkbox input:checked+label {
    background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
    border: none
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-radio input:checked+label {
    background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
    border: none
}

.confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-radio input:checked+label {
    background: url(../img/elements/success-radio.png) no-repeat center center/cover;
    border: none
}

.disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-radio input:checked+label {
    background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
    border: none
}

.default-select {
    height: 40px
}

.default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px
}

.default-select .nice-select .list .option.selected {
    color: #FFBD00;
    background: transparent
}

.default-select .nice-select .list .option:hover {
    color: #FFBD00;
    background: transparent
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300
}

.default-select .nice-select::after {
    right: 20px
}

.form-select {
    height: 40px;
    width: 100%
}

.form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px
}

.form-select .nice-select .list .option.selected {
    color: #FFBD00;
    background: transparent
}

.form-select .nice-select .list .option:hover {
    color: #FFBD00;
    background: transparent
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300
}

.form-select .nice-select::after {
    right: 20px
}

.mt-10 {
    margin-top: 10px
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee
}

.section-top-border h3 {
    color: #fff
}

.mb-30 {
    margin-bottom: 30px
}

.mt-30 {
    margin-top: 30px
}

.switch-wrap {
    margin-bottom: 10px
}

.switch-wrap p {
    color: #fff
}